body{
	font-family: serif;
	padding: 0;
	margin: 0;
	background-color: ghostwhite;
}
/*GLOBAL*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}
.button1{
	height:25px;
	background: red;
	border: 0;
	color: white;
}
.bg{
	background: gray;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

/*HEADER*/
header a{
	color: white;
	text-decoration: none;	
}
header li{
	float: left;
	display: block;
	margin: 5px;
	height: 20px;
	list-style-type: none;
    padding: 10px;
}
header .head{
	float: left;
}
header .head h1{
	margin: 0;
}
header nav{
	float: right;
}
header .highlight, header .current a{
	color: maroon;
	font-weight: bold;
	text-shadow: 3px 3px 3px;
}
header a:hover{
	color: black;
	text-decoration: underline;
	font-weight: bold;
}
header a:active{
	color: yellow;
}
#banner{
    min-height: 700px;
	background-image: url(/home/ubuntu2/Downloads/img10.jpeg) ;
	background-repeat: no-repeat; 
	background-position: center;
	background-size: 1200px;
	text-align: center;
}
#banner h1{
	margin-top: 100px;
	margin-bottom:10px;
	color: maroon;
	font-size: 550%;
}
#newsletter{
	background: maroon;
	color: white;
	padding: 5px;
}
#newsletter h1{
	float: left;	
}
#newsletter form{
	float: right;
	margin-top: 20px;
}
/*boxes*/
#boxes{
	margin-top: 20px;
}
#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 15px;
}
#boxes .box img{
	width: 150px;
}
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
	text-align: justify;
	box-shadow: 3px 3px 3px;
}
article#main-col{
	float: left;
	width: 65%;
	text-align: justify;
}

.secondary-menu{
	float: left;
	width: 65%;
}
/*footer*/
footer{
	padding: 20px;
	margin-top: 10px;
	color: white;
	background: gray;
	text-align: center;
	height: 30px;
}




















